* {
  padding: 0;
  margin: 0;
  font-family: "Macondo", cursive;
}
/* https://www.schemecolor.com/light-to-dark-blue.php */
/* Colour palete for app */
:root {
  --primary-color: #bcd2e8;
  --secondary-color: #1e3f66;
}
body {
  background-color: var(--primary-color);
}
html {
  font-size: 75.5%;
}
.header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pic5.jpg);
  background-repeat: no-repeat;
  background-size: 850px 500px;
  clip-path: circle(60% at left 300px); /*shape of mask*/
  z-index: -1; /*Stack order - bring to back*/
}
.row2 {
  position: absolute;
  top: 10px;
  right: 150px;
  text-align: center;
}
.row2 h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.row2 img {
  margin-top: 30px;
  width: 350px;
  border-radius: 25px;
}
.row1 h1 {
  position: absolute;
  top: 10px;
  font-size: 3rem;
  margin-top: 20px;
  color: var(--secondary-color);
  text-align: center;
  margin-left: 35px;
  font-family: "Macondo", cursive;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.search input {
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.search button {
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}
.container {
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  /* grid-template-columns; autofit allows it to be responsive */
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}
.card {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  transition: 0.5s;
  text-align: center;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
  /* background-color: #2e5984; */
  /* color: var(--secondary-color); */
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}
.card .bottom {
  display: flex;
  flex-direction: column;
}
.card .bottom .title {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 30px;
  /* background-color: var(--secondary-color); */
}
.card .bottom .author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  /* background-color: var(--secondary-color); */
  color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  padding: 0.2rem;
}

.deletepic {
  width: 22px;
}

.iconbtns {
  flex-direction: row;
  padding-bottom: 5px;
}

#heart,
#writing {
  /* background-color: var(--secondary-color); */
  margin: 5px;
  border-color: var(--primary-color);
  border-width: 2px;
  align-items: center;
  flex-direction: row;
}

#heart {
  margin-left: 250px;
}

#heart img,
#writing img {
  max-height: 40px;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(#73a5c6, #2e5984);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
  text-align: left;
}
#close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  padding: 2px;
  border-width: 2px;
  border-color: var(--primary-color);
  background-color: transparent;
}

#close img {
  max-height: 20px;
}

.overlay-inner .inner-box {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  margin-left: 30px;
}
.overlay-inner .inner-box img {
  margin-right: 80px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: var(--secondary-color);
}
.overlay-inner .inner-box h4 {
  color: var(--secondary-color);
}
/* .overlay-inner .inner-box button {
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
} */
.overlay-inner .description {
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
  margin-left: 30px;
  margin-right: 30px;
}

/* HEADER NAB=VBAR */

.p-2 {
  font-size: 20px;
}

/* LOGIN FORM */

.loginform {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  font-size: x-large;
  background-color: aliceblue;

  /* display: flex;
  justify-content: center;
  border-color: #1e3f66; */
}

.hoverNeed:hover {
  color: var(--primary-color);
}

.form-control {
  width: 80% !important;
  margin: auto !important;
}
